.course-card {
  height: 400px;
  background: #e1f1dd;
  color: black;
  padding: 5px;
  border-radius: 3px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  box-shadow: 8px 8px 5px black;
}
.course-card:hover {
  box-shadow: none;
  transition: all 0.3s ease-in;
}
.course-img {
  height: 100px;
  border-radius: 10px;
}
.course-title {
  font-size: 1.5rem;
  text-align: center;
}
.more-btn {
  background-color: #00adb5;
  padding: 5px;
  outline: none;
  height: 2rem;
  border: none;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.course-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* background: #E1F1DD; */
  height: fit-content;
  padding-bottom: 30px;
  margin-bottom: 5px;
}
