* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  background: #2c3e50;
  color: #ecf0f1;
  line-height: 1.618em;
  /* margin: 50px; */
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;

  margin: 20px 20px;
}
.tabs-label {
  padding: 10px 16px;
  cursor: pointer;
  color: aliceblue;
}
.tabs-radio {
  display: none;
}
.tabs-content {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}
.tabs-radio:checked + .tabs-label {
  font-weight: bold;
  color: 009578;
  border-bottom: 2px solid #009578;
}
.tabs-radio:checked + .tabs-label + .tabs-content {
  display: initial;
}
/* .course-card {
  height: 400px;
  background: #e1f1dd;
  color: black;
  padding: 5px;
  border-radius: 3px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  box-shadow: 8px 8px 5px black;
}
.course-card:hover {
  box-shadow: none;
  transition: all 0.3s ease-in;
}
.course-img {
  height: 100px;
  border-radius: 10px;
}
.course-title {
  font-size: 1.5rem;
  text-align: center;
}
.more-btn {
  background-color: #00adb5;
  padding: 5px;
  outline: none;
  height: 2rem;
  border: none;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.course-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* background: #E1F1DD; */
/* height: fit-content; */
/* padding: 5px; */
