.footer {
    position:relative;
    background-color: #495973;
    
    bottom: 0;
    right: 0;
    left :0;
    text-align: center;
    padding : 1rem;
    background : #efefef;
    font-size : 19px
  }